.translatecontainer{
   
background-color: red;
padding:10px;

}
.translateContent{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:auto;
    align-items: center;
   
}
body{
    margin: 0px;
    padding:0px;
}
span{
    color:white;
    font-size: 16px;
    padding-left:10px;
    font-weight:500;
    padding-right: 30px;
    padding-bottom: 7px;

}
.btn-Container,button{
    border: none;
    padding:7px;
    border-radius:10px;
    font-size: 13px;

}